# Avati Mobile Environment Variables Example
# Duplicate this file as '.env' and fill in correct values.

# The base URL of the Avati Express Backend Server
EXPO_PUBLIC_API_URL=http://localhost:5000

EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=671223902943-o3q3d1h6p30q8j3b8k6232eegsnt336u.apps.googleusercontent.com

EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=166140890404-h3b8g6q232eegsnt336u.apps.googleusercontent.com

